<h2>The system </h2>
<%= @server.last.status%>
<h2>What is the server status?</h2>
<%= form_with url: "/servers", method: :post do |f| %>
  <%= f.radio_button  :status, "UP" %>
  <%= f.label :status_UP, "UP" %>
  <%= f.radio_button  :status, "DOWN" %>
  <%= f.label :status_DOWN, "DOWN" %>
  <%= f.submit "Update" %>
<% end %>

<%= link_to "Check the messages", messages_path, class: "btn btn-flat" %>
